<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    <ion-title>Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container">
        <div class="carrot">
          <img src="../../../assets/1525198880513 (1).png" class="left">
        </div>
    </div>
  
    <h2 class="update"><strong>Warning:</strong> Carrot</h2>
    <div class="desc">Make sure your plant gets some shade today as well.</div>
    <h2 class="tips"><strong>Tips:</strong></h2>
    <div class="desc"> When watering, make sure you are watering deeply in order so that the carrots are getting water needed to grow.</div>

</ion-content>
