<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    <ion-title>Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="carrot">
          <img src="../../../assets/chai-thai-celery (2).png" class="left">
        </div>
    </div>
  
    <h2 class="update"><strong>Warning:</strong> Celery</h2>
    <div class="desc">Make sure to water deeply in order for the celery to keep living.
      </div>
    <h2 class="tips"><strong>Tips:</strong></h2>
    <div class="desc">Because celery can withstand temperatures between 30-60 degrees Fahrenheit, your celery plant should continue growing.
      </div>
</ion-content>
