.first {
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-left: 104px;
    margin-right: -48px;
    display: inline;
    background-color:white;
}

p {
    background-color: #32BA40;
}

ion-scroll {
    height: 100%;
}