.catheader{
    font-family: Raleway;
    font-size: 35px;
    padding-left: 72px;
}


   
.container{
    display: flex;
    background: linear-gradient(180deg, #FF9900 0%, #FFDF00 100%);
}

.right{
    flex: 1;
    color: white;
    height: 153px;

    h1{
        margin: 0;
        margin-top: 39px;
        font-size: 60px;
        font-family: Raleway;
        margin-left: 15px;
    }

}

.left{
    flex:1;
    height: 153px;

    img{
        margin-top: 20px;
        display: block;
        height: 109px;
        width: 109px;
        margin-left: auto;
        object-fit: contain;
        margin-right: 15px;
    }
}

.h1{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
}

.swiper-slide img{
    height: 230px;
    width: 370px;
    border-radius: 0px 0px 0px 0px;
}

.card-content-ios h2{
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: black;
}

.item{
    position: relative;
    display: flex;
    height: 75px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 28px;
}

.item-left{
    flex: 1;
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 68px;
padding-left: 39px;
    
}

.item-right{
    position: absolute;
    width: 27.6px;
    height: 26.34px;
    left: 298px;
    
    border: 3px solid #000000;
    transform: rotate(-45.37deg);
    border-top: none;
    border-left: none;
    top: 24px;
}

ion-content{
 --background: #C3B6A3 !important;
}

.wrapper{
    padding: 0 16px;
}