  ion-card {
    position: relative;
    text-align: center;
    border-radius: 20px;
  }

  .card-title {
    position: absolute;
    top: 22%;
    font-size: 34px;
    width: 100%;
    font-weight: bold;
    color:black;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
  ion-card{
    display: block;
    margin: auto;
    width: 323px;
    height: 101px;
    color: black;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: -8px 16px 20px rgba(0, 0, 0, 0.25);
  }
ion-toolbar{
  margin-bottom: 20px;
}
  #gardengro{ 
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 199px;
    height:68px;
    padding-top: 10px
  
  }

  .bg{
    background-color: #32BA40;
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding-top: 33px;
  }

 img{
  width: 67px;
  height: 67px;
 }

 .ion-card-header{
  font-family: Merge One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
 }

 .ion-card-content{
   background-color: white;
   display: inline-block;
 }

 .text {
   width: 50px;
   height: 50px;
 }

 ion-content{
  background-color: #32BA40;
 }
