<ion-header>
  <ion-toolbar>
    <ion-title>
    <img id="gardengro" src="../../assets/GardenGro.png">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="">Vegetable Categories</h1>
  <ion-card class="firstclass" routerLink="/carrot">
        <ion-card-content>
            <img class="vegetable left " src="../../assets/Carrot-PNG-Pic 2.png">
            <div class="card-title">Carrot</div>
        </ion-card-content>
  </ion-card>

  <ion-card routerLink="/celery">
    <ion-card-content>
      <img class="vegetable left " src="../../assets/5b3f523ac051e602a568cc9c.png" >
      <div class="card-title">Celery</div>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/tomato">
    <ion-card-content>
      <img class="vegetable left " src="../../assets/580b57fcd9996e24bc43c238 (1).png">
      <div class="card-title t">Tomato</div>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/potato">
    <ion-card-content>
      <img class="vegetable left" src="../../assets/purepng.png">
      <div class="card-title">Potato</div>
    </ion-card-content>   
  </ion-card>
</ion-content>