<ion-header>
  <ion-toolbar>
    <ion-title>
      Celery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>
        Instructions
      </h1>
      <h3>
        Celery Spacing
      </h3>
      <p>
          Celery seeds should be ¼ to ½ inch deep in Soil, 6 to 10 inches apart; space rows 24 inches apart.
      </p>
      <h3>
          Recommended Isolation Distance
      </h3>
      <p>
          For basic seed the distance should be greater, about 1600 m.
      </p>
      <h3>
        Watering
      </h3>
      <p>
          Keep soil consistently moist by applying about 1 inch of water per week through watering or rainfall.

      </p>
      <h3>
        Temperature of Soil
      </h3>
      <p>
          Plant your Celery seeds outdoors when the soil is moist, well-drained, nutrient-rich soil.
      </p>
    <h3>
      Weeding
    </h3>
    <p>
        Before planting your Celery, weeding or tilling in the weeds several times is ideal.
        
    </p>
</ion-content>
