.vegetable{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 40px;
    font-style: italic;
    margin-left: 82px;

}

 div {
    font-family: Merge One;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 40px;
margin-left: 20px;
margin-right: 17px;
padding-left: 26px;
padding-right: 40px;    

}

h4 {
    font-weight: bold;
    font-family: Merge One;
font-style: normal;
font-weight: normal;
font-size: 30px;
color: #000000

}

// ion-card{
//     padding-left: 111px;
// }
ion-card {
    position: relative;
    text-align: center;
    border-radius: 20px;
  }

  .card-title {
    position: absolute;
    top: 22%;
    font-size: 34px;
    width: 100%;
    font-weight: bold;
    color:black;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
  ion-card{
    display: block;
    margin: auto;
    width: 323px;
    height: 101px;
    color: black;
    background-color: white;
    margin-top: -17x;
    margin-bottom: 58px;
    box-shadow: -8px 16px 20px rgba(0, 0, 0, 0.25);
  }
ion-toolbar{
  margin-bottom: 20px;
}
  #gardengro{ 
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 199px;
    height:68px;
    padding-top: 10px
  
  }

  .bg{
    background-color: #32BA40;
    margin-top: 0;
    width: fit-content;
    height: fit-content;
    padding-top: 33px;
    margin-left: auto;
  }

 img{
  width: 67px;
  height: 67px;
 }

 .ion-card-header{
  font-family: Merge One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
 }

 .ion-card-content{
   display: inline-block;
 }

 .text {
   width: 50px;
   height: 50px;
 }

 .scroll-content{
  background-color: #32BA40;
 }
.card { 
    padding-top: 25px;
    font-size: 32px;
}
ion-content{
  --ion-background-color: #32BA40;
}
