  <ion-header>
    <ion-toolbar>
      <div>Instructions</div> 
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="bg">
        <ion-card routerLink="/details" (click)="presentModal()"><div class="card">Carrot Spacing</div></ion-card>
        <ion-card routerLink="/details" (click)="presentModal()"><div class="card">Recommended Isolation Distance</div></ion-card>
        <ion-card routerLink="/details" (click)="presentModal()"><div class="card">Watering</div></ion-card>
        <ion-card routerLink="/details" (click)="presentModal()"><div class="card">Temperature of Soil</div></ion-card>
        <ion-card routerLink="/details" (click)="presentModal()"><div class="card">Weeding</div></ion-card>
  
    
  
