<ion-header>
      <ion-toolbar>
        <div class="catheader">Categories</div>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content fullscreen>
      <div class="bg">
        <ion-card >
          <ion-card-header class="card-header">
              <div class="title">
                <div class="icon"><img class="spacing" src="../../assets/Carrot Spacing (2).png"></div>
                <div>Carrot Spacing</div>
              </div>
          </ion-card-header>
    
          <ion-card-content class="card-content">
            <p class="desc">Plant carrot seeds ¼ inch deep and 1 foot apart. Later in the spring, thin carrot plants to 2-3 inches apart in rows 16-24 inches apart.</p>
    
          </ion-card-content>
        </ion-card>
    
        <ion-card class="watering" >
          <ion-card-header class="card-header">
              <div class="title">
                <div class="icon"><img class="spacing" src="../../assets/Watering 2.1.png"></div>
                <div>Watering</div>
              </div>
          </ion-card-header>
    
          <ion-card-content class="card-content">
            <p class="desc">Carrots require about an inch of water per week to reach their full potential.</p>
    
          </ion-card-content>
        </ion-card>
    
        <ion-card class="temperatureofsoil">
            <ion-card-header class="card-header">
                <div class="title">
                  <div class="icon"><img class="spacing" src="../../assets/Temperature.png"></div>
                  <div>Temperature of Soil</div>
                </div>
            </ion-card-header>
      
            <ion-card-content class="card-content">
              <p class="desc">Plant your carrot seeds outdoors when the soil is above 45 degrees F.</p>
      
            </ion-card-content>
          </ion-card>
    
        <ion-card class="weeding">
            <ion-card-header class="card-header">
                <div class="title">
                  <div class="icon"><img class="spacing" src="../../assets/shovel.png"></div>
                  <div>Weeding</div>
                </div>
            </ion-card-header>
      
            <ion-card-content class="card-content">
              <p class="desc">Before planting your carrots, weeding or tilling in the weeds several times is ideal. One of the most successful pre-emergence timing strategies, particularly for organic growers, involves placing a sheet of Plexiglass over the first few feet of a seeding, then checking it daily. As soon as you notice the carrots begin to germinate beneath the Plexiglass, it's time to flame weed, because the rest of the stand will begin emerging in 2–3 days.</p>
      
            </ion-card-content>
          </ion-card>
    
      </div>
    </ion-content>