::ng-deep .toolbar-container, ion-toolbar, ion-title{
  height: 55px !important;
  --min-height: 55px !important;
}

.vegetable{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}

p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding-right: 35px;
}

h1 {
    font-size: 40px;
    font-style: italic;
    margin-left: 82px;

}

 div {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;  
  color:white;
}

h4 {
    font-weight: bold;
    font-family: Merge One;
font-style: normal;
font-weight: normal;
font-size: 30px;
color: #000000

}

// ion-card{
//     padding-left: 111px;
// }
ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 22%;
    font-size: 34px;
    width: 100%;
    font-weight: bold;
    color:black;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
  ion-card{
    display: block;
    margin: auto;
    width: 355px;
    height: 283px;
    color: white;
    background-color:#FEA826;
    margin-top: -14px;
    margin-bottom: 26px;
    box-shadow: -8px 16px 20px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
    margin-right: 13px;
    border-radius: 0px 0px 0px 0px;
  }

  .watering{
      background-color:#26B0FE;
  }

  .temperatureofsoil{
      background-color: sienna;
  }

  .weeding{
      background-color: #50A675;
  
  }



  
ion-toolbar{
  margin-bottom: 20px;
}
  #gardengro{ 
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 199px;
    height:68px;
    padding-top: 10px
  
  }

  .bg{
    background-color: white;
    margin-top: 0;
    width: fit-content;
    height: fit-content;
    padding-top: 9px;
    margin-left: auto;
  }

 img{
  width: 100%;
 }

 .ion-card-header{
  font-family: Merge One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
 }

 .ion-card-content{
   display: inline-block;
 }

 .text {
   width: 50px;
   height: 50px;
 }

 .scroll-content{

}
.card { 
    padding-top: 25px;
    font-size: 32px;
}
ion-content{
  // --ion-background-color: #32BA40;
}

.spacingcard{
    background-color: #FEA826;
}

ion-card-header {
  display: inline;
}

.title{
  display: flex;
  padding-left: 16px;
}

.spacing {
    

}

.shovel{
    height:100px ;
    width: 100px;
}

.icon{
    width: 50px;
}

.desc{
    text-align: left;
    margin-top: -26px;
}

.catheader{
    color: #000000;
     padding-left: 50px;
     padding-right: 55px;
}

.sh {
  margin-top: -29px;
    width: 98px;
    height: 70px;
    margin-left: -17px;
}

.weed{
  margin-left: -18px;
}