  <ion-header>
    <ion-toolbar>
      <div>Categories</div> 
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <div class="bg">
        <ion-card (click)="spacingModal()"><div class="card">Carrot Spacing</div></ion-card>
        <ion-card (click)="wateringModal()"><div class="card">Watering</div></ion-card>
        <ion-card (click)="temperatureModal()"><div class="card">Temperature of Soil</div></ion-card>
        <ion-card (click)="weedingModal()"><div class="card">Weeding</div></ion-card>
    </div>
  </ion-content>
    
  
