<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    <ion-title>Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
      <div class="carrot">
        <img src="../../../assets/eyeem-110265195 (1).png" class="left">
      </div>
  </div>

  <h2 class="update"><strong>Warning:</strong> Potato</h2>
  <div class="desc">Although potatoes can grow in 70+ degrees, the flavor profile may be affected.
    </div>
  <h2 class="tips"><strong>Tips:</strong></h2>
  <div class="desc">As long as the temperature remains above 30 degrees, your potato plant will survive.
    </div>

</ion-content>
