<ion-header>
  <ion-toolbar>
      <div>
        </div> 
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1>
        Instructions
      </h1>
      <h4>
        Tomato Spacing
      </h4>
      <p>
       Plant carrot seeds ¼ inch deep and 1 foot apart. Later in the spring, thin carrot plants to 2-3 inches apart in rows 16-24 inches apart.
      </p>
      <h4>
          Recommended Isolation Distance
      </h4>
      <p>
          Separate varieties by at least 800 feet-½ mile in their second season of growth.
      </p>
      <h4>
        Watering
      </h4>
      <p>
          Carrots require about an inch of water per week to reach their full potential.
      </p>
      <h4>
        Temperature of Soil
      </h4>
      <p>
          Plant your carrot seeds outdoors when the soil is above 45 degrees F.
      </p>
    <h4>
      Weeding
    </h4>
    <p>
        Before planting your carrots, weeding or tilling in the weeds several times is ideal.
        One of the most successful pre-emergence timing strategies, particularly for organic growers, involves placing a sheet of Plexiglass over the first few feet of a seeding, then checking it daily. As soon as you notice the carrots begin to germinate beneath the Plexiglass, it's time to flame weed, because the rest of the stand will begin emerging in 2–3 days.
    </p>
</ion-content>

<ion-tabs>

 <!--<ion-tab-button tab="tab1">
    <ion-icon name="Home"></ion-icon>
    <ion-label>Home
    </ion-label>
  </ion-tab-button>
   
  
      <ion-tab-button tab="tab2">
        <ion-icon name="Calendar"></ion-icon>
        <ion-label>Calendar
        </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3">
        <ion-icon name="Settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>-->
  
  </ion-tabs>
  